{% extends 'base.html' %}

{% block titulo %}
Cardápio
{% endblock %}

{% block conteudo %}

  {% if promocao == True %}
    <img src="/static/promocao.webp"/>
    {% if porcentagem <= 10 %}
        <h3 style="color: yellow"> {{porcentagem}}% de desconto</h3>
    {% elif porcentagem > 10 and porcentagem <=20 %}
       <h3 style="color: blue"> {{porcentagem}}% de desconto</h3>
    {% elif porcentagem > 20 and porcentagem <=50 %}
       <h3 style="color: green"> {{porcentagem}}% de desconto</h3>
    {% else %}
        <h3 style="color: pink"> {{porcentagem}}% de desconto</h3>
    {% endif %}
  {% endif %}

<div class="card" style="width: 18rem;">
  <img src="/static/frango-catupiry.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Frango com Catupiry</h5>
    <p class="card-text">Essa pizza possui frango, molho de tomate, milho, e catupiry.</p>
    <a href="#" class="btn btn-primary">Fazer pedido</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/static/sertaneja.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sertaneja</h5>
    <p class="card-text">Essa pizza possui carne de sol, molho de tomate e queijo coalho</p>
    <a href="#" class="btn btn-primary">Fazer pedido</a>
  </div>
</div>

{% endblock %}