{% extends 'base.html' %}

{% block titulo %}
Cardápio
{% endblock %}

{% block conteudo %}
<!--
<ul>
  <li>Frango com Catupiry - P: R$ 40,00 M: 50,00 G: 60,00</li>
  <li>Sertaneja - P: R$ 45,00 M: 55,00 G: 65,00</li>
</ul>-->

<div class="card" style="width: 18rem;">
  <img src="/static/frango-catupiry.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Frango com Catupiry</h5>
    <p class="card-text">Essa pizza possui frango, molho de tomate, milho, e catupiry.</p>
    <a href="#" class="btn btn-primary">Fazer pedido</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/static/sertaneja.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sertaneja</h5>
    <p class="card-text">Essa pizza possui carne de sol, molho de tomate e queijo coalho</p>
    <a href="#" class="btn btn-primary">Fazer pedido</a>
  </div>
</div>

{% endblock %}